body {
    background-color: black;
}

.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.brick{
    background-color: blue;
}

.coin{
    background: url("images/pacman_coin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pacman{
    background: url("images/pacman.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.empty{
    
}